{#-- Global footer --#}
<!-- client logo slider -->
{#<section class="bg-white py-4 mt-5 supporters-footer">#}
{#    <div class="container">#}
{#        <div class="d-flex justify-content-center"><h5>Our supporters</h5></div>#}
{#        <div class="client-logo-slider align-self-start">#}
{#            {% for entry in craft.entries.section('supportersFunders').all() %}#}
{#                {% set asset = entry.supporterLogo.one() %}#}
{#                {% set height = 100 %}#}
{#                {% set width = 120 %}#}
{#                {% if asset.getWidth() < asset.getHeight() %}#}
{#                    #}{# portrait #}
{#                    {% set height = 90 %}#}
{#                {% elseif asset.getWidth() > asset.getHeight() %}#}
{#                    #}{# landscape #}
{#                    {% set height = 100 %}#}
{#                    {% set width = 180 %}#}
{#                {% else %}#}
{#                    #}{# square #}
{#                    {% set height = 80 %}#}
{#                    {% set width = 80 %}#}
{#                {% endif %}#}

{#                {% set asset = craft.imager.transformImage(asset, {#}
{#                    width: width,#}
{#                    height:height,#}
{#                    effects: { modulate: [100, 0, 100] },#}
{#                    mode: 'fit'#}
{#                }) %}#}
{#                {% set imgUrl = asset.getUrl() %}#}
{#                <a href="{{ entry.websiteUrl }}" class="text-center d-block outline-0 py-3 px-2">#}
{#                    <img class="d-unset" src="{{ asset.getUrl('supporterLogo') }}" alt="{{entry.title}}">#}
{#                </a>#}
{#            {% endfor %}#}
{#        </div>#}
{#    </div>#}
{#</section>#}
<!-- /client logo slider -->

{#-- Global cta --#}
{%  if callsToAction.ctaShowSitewide and callsToAction.ctaPosition =='bottom' %}
    {% include('_partials/cta-general') %}
{% endif %}

<!-- footer -->
<footer class="bg-secondary">
    <div class="py-100 border-bottom" style="border-color: #454547 !important">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="mb-5 mb-md-0 text-center text-md-left">
                        <!-- logo -->
                        <img class="mb-30" src="{{baseUrl}}images/logo-footer.png" alt="logo">
                        <p class="text-white mb-30 hide">We work with people living in temporary accommodation in Manchester and Brighton & Hove and support others doing so across the UK through our network, research and campaigning</p>

                       <div class="address text-white mb-30">Justlife Manchester
                        <br>
                        1479-1489 Ashton Old Road<br>
                        Manchester M11 1HH<br>
                        T: 0161 285 5888<br>
                        F: 0161 285 7077<br>
                        E: info@justlife.org.uk<br>
<hr>
                        Justlife Brighton<br>
                        Queen’s Square<br>
                        2 Dyke Road<br>
                        Brighton BN1 3FE<br>
                        T: 0300 123 1550  //  0800 328 1550<br>
                        E: brighton@justlife.org.uk
                       </div>

                    </div>
                </div>
                <!-- footer links -->
                <div class="col-lg-2 col-md-4 col-6">
                    <h4 class="text-white mb-4">Services</h4>
                    <ul class="footer-links">
                        <li>
                            <a href="#">Company History</a>
                        </li>
                        <li>
                            <a href="about.html">About Us</a>
                        </li>
                        <li>
                            <a href="contact.html">Contact Us</a>
                        </li>
                        <li>
                            <a href="service.html">Service</a>
                        </li>
                        <li>
                            <a href="#">Privacy Policy</a>
                        </li>
                    </ul>
                </div>
                <!-- footer links -->
                <div class="col-lg-2 col-md-4 col-6">
                    <h4 class="text-white mb-4">Quick Link</h4>
                    <ul class="footer-links">
                        <li>
                            <a href="#">Company History</a>
                        </li>
                        <li>
                            <a href="about-2.html">About Us</a>
                        </li>
                        <li>
                            <a href="contact.html">Contact Us</a>
                        </li>
                        <li>
                            <a href="service-2.html">Service</a>
                        </li>
                        <li>
                            <a href="#">Privacy Policy</a>
                        </li>
                    </ul>
                </div>
                <!-- subscribe form -->
                <div class="col-lg-3 col-md-12 offset-lg-1">
                    <div class="mt-5 mt-lg-0 text-center text-md-left mb-60">
                        <h4 class="mb-4 text-white">Subscribe </h4>
                        <p class="text-white mb-4">Join our email newsletter and stay up to date</p>

                            <form action="" method="post" id="mc-embedded-form" name="modal-trigger-embed" class="validate position-relative" target="_blank" novalidate="novalidate">

                                <input type="email" value="" name="subemail" class="form-control subscribe" id="pass-email" placeholder="Enter Your Email" aria-required="true" aria-invalid="true">

                            <button class="btn-subscribe" type="submit" value="subscribe" name="subscribe" data-toggle="modal" data-target="#subscribeModal" >
                                <i class="ti-arrow-right"></i>
                            </button>
                        </form>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade  " id="subscribeModal"  tabindex="-1" role="dialog"
                         aria-labelledby="demoModal" aria-hidden="true">
                        <div class="modal-dialog  modal-dialog-centered " role="document">
                            <div class="modal-content">
                                <button type="button" class="close light" data-dismiss="modal"
                                        aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <div class="m-h-30 bg-img rounded-top " style="background-image: url('https://images.unsplash.com/photo-1543363136-3fdb62e11be5?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=800&amp;q=80')">

                                </div>
                                
                                <div class="modal-body">
                                    <!-- Begin MailChimp Signup Form -->
                                    <div id="mc_embed_signup">
                                        <form class="px-sm-4 py-sm-4" action="https://justlife.us5.list-manage.com/subscribe/post?u=949d295ca4bbd2b9444b9725d&amp;id=ce6d802164"
                                              method="post"
                                              id="mc-embedded-subscribe-form"
                                              name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                            <div id="mc_embed_signup_scroll">
                                                <h4>Subscribe to our mailing list</h4>
                                                <div class="indicates-required mb-2"><span class="asterisk">*</span> indicates required</div>
                                                <div class="mc-field-group form-group">
                                                    <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span><br />
                                                    </label><br />
                                                    <input class="form-control" type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" aria-required="true" required>
                                                </div>
                                                <div class="mc-field-group form-group">
                                                    <label for="mce-FNAME">First Name <span class="asterisk">*</span></label><br />
                                                    <input class="form-control" type="text" value="" name="FNAME" class="" id="mce-FNAME" aria-required="true" required>
                                                </div>
                                                <div class="mc-field-group form-group">
                                                    <label for="mce-LNAME">Last Name <span class="asterisk">*</span></label><br />
                                                    <input class="form-control" type="text" value="" name="LNAME" class="" id="mce-LNAME" aria-required="true" required>
                                                </div>

                                                <div class="mc-field-group form-group hide">
                                                    <strong>Tick here for our newsletter and other updates </strong>
                                                    <ul><li><input type="checkbox" value="1" name="group[22102][1]" id="mce-group[22102]-22102-0"><label for="mce-group[22102]-22102-0">Please keep me updated</label></li>
                                                    </ul>
                                                </div>
                                                <div id="mce-responses" class="clear">
                                                    <div class="response" id="mce-error-response" style="display:none"></div>
                                                    <div class="response" id="mce-success-response" style="display:none"></div>
                                                    </div>
                                                <p>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups--></p>
                                                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                                                    <input type="text" name="b_949d295ca4bbd2b9444b9725d_ce6d802164" tabindex="-1" value="">
                                                    <input type="checkbox" checked value="1" name="group[22102][1]" id="mce-group[22102]-22102-0">

                                                </div>
                                                <div class="clear">
                                                    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary"></div>
                                                </div>
                                        </form>
                                    </div>
                                        <!--End mc_embed_signup-->

                                </div>


                            </div>
                        </div>
                    </div>
                    <!-- Modal Ends -->

                    <h4 class="mb-4 text-white">Stay in touch</h4>
                    <!-- social icon -->
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a class="social-icon-outline" href="{{ social.facebook }}">
                                <i class="ti-facebook"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="social-icon-outline" href="{{ social.twitter }}">
                                <i class="ti-twitter-alt"></i>
                            </a>
                        </li>
                        <li class="hide list-inline-item">
                            <a class="social-icon-outline" href="#">
                                <i class="ti-vimeo-alt"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="social-icon-outline" href="{{ social.linkedin }}">
                                <i class="ti-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- copyright -->
    <div class="footer pt-4 pb-3 position-relative">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-7">
                    <p class="text-white text-center text-md-left">
                        <span class="text-primary">{{organisationInfo.organisationName}}</span> &copy; {{ 'now' | date('Y') }}
                        <span class="text-primary">CIC Ltd 6724021 / Justlife Foundation Ltd 7517887 Registered Charity 1140822</span>

                    </p>
                </div>
                <div class="col-lg-4 col-md-5">
                    <ul class="list-inline footer text-center text-md-right">
                        <li class="list-inline-item mx-lg-3 my-lg-0 mx-2 my-2">
                            <a class="font-secondary text-white" href="#">Legal</a>
                        </li>
                        <li class="list-inline-item mx-lg-3 my-lg-0 mx-2 my-2">
                            <a class="font-secondary text-white" href="#">Sitemap</a>
                        </li>
                        <li class="list-inline-item mx-lg-3 my-lg-0 mx-2 my-2">
                            <a class="font-secondary text-white" href="#">Privacy Policy</a>
                        </li>
                        <li class="list-inline-item ml-lg-3 my-lg-0 ml-2 my-2 ml-0">
                            <a class="font-secondary text-white" href="#">Terms &amp; Conditions</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- back to top -->
        <button class="back-to-top">
            <i class="ti-angle-up"></i>
        </button>
    </div>
    <!-- Begin Mailchimp JS Form -->

    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js?ckcachebust=622729807'></script>
    <script type='text/javascript'>
        // (function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';}(jQuery));var $mcj = jQuery.noConflict(true);
        (function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);<

    </script>
    <script>
        // select the target node
        var target = document.getElementById('mce-success-response');
        var subbutton = document.getElementById('mc-embedded-subscribe');
        // create an observer instance
        var observer = new MutationObserver(function(mutations) {
            mutations.forEach(function(mutation) {
                if (target.innerHTML === "Thank you for subscribing!") {
                    //target.innerHTML = "Check your email for your free chapter!";
                    subbutton.value = "Check your email for your free chapters!";
                }
            });
        });

        // configuration of the observer:
        var config = { attributes: true, childList: true, characterData: true };

        // pass in the target node, as well as the observer options
        observer.observe(target, config);
    </script>
    <!--End mc_embed_signup-->
</footer>
<!-- /footer -->

