{#-- Global footer --#}
<!-- client logo slider -->
{#<section class="bg-white py-4 mt-5 supporters-footer">#}
{#    <div class="container">#}
{#        <div class="d-flex justify-content-center"><h5>Our supporters</h5></div>#}
{#        <div class="client-logo-slider align-self-start">#}
{#            {% for entry in craft.entries.section('supportersFunders').all() %}#}
{#                {% set asset = entry.supporterLogo.one() %}#}
{#                {% set height = 100 %}#}
{#                {% set width = 120 %}#}
{#                {% if asset.getWidth() < asset.getHeight() %}#}
{#                    #}{# portrait #}
{#                    {% set height = 90 %}#}
{#                {% elseif asset.getWidth() > asset.getHeight() %}#}
{#                    #}{# landscape #}
{#                    {% set height = 100 %}#}
{#                    {% set width = 180 %}#}
{#                {% else %}#}
{#                    #}{# square #}
{#                    {% set height = 80 %}#}
{#                    {% set width = 80 %}#}
{#                {% endif %}#}

{#                {% set asset = craft.imager.transformImage(asset, {#}
{#                    width: width,#}
{#                    height:height,#}
{#                    effects: { modulate: [100, 0, 100] },#}
{#                    mode: 'fit'#}
{#                }) %}#}
{#                {% set imgUrl = asset.getUrl() %}#}
{#                <a href="{{ entry.websiteUrl }}" class="text-center d-block outline-0 py-3 px-2">#}
{#                    <img class="d-unset" src="{{ asset.getUrl('supporterLogo') }}" alt="{{entry.title}}">#}
{#                </a>#}
{#            {% endfor %}#}
{#        </div>#}
{#    </div>#}
{#</section>#}
<!-- /client logo slider -->

{#-- Global cta --#}
{%  if callsToAction.ctaShowSitewide and callsToAction.ctaPosition =='bottom' %}
    {% include('_partials/cta-general') %}
{% endif %}

<!-- footer -->
<footer class="bg-secondary">
    <div class="pt-5 border-bottom" style="border-color: #454547 !important">
        <div class="container">
            <div class="row">
                <div class=" col-lg-4 col-md-4">
                    <div class="mb-0 mb-md-3 text-center text-md-left">
                        <!-- logo -->
                        <img class="mb-30 footer-brand" src="{{baseUrl}}images/jl_logo_long_white_for_screen.svg" alt="just life logo">
                        <p class="text-white mb-30 hide">We work with people living in temporary accommodation in Manchester and Brighton & Hove and support others doing so across the UK through our network, research and campaigning</p>

                       <div class="address text-white mb-lg-3">
                           {{ organisationInfo.manchesterAddress }}

                        T: {{ organisationInfo.manchesterTel }}<br>
                        E: {{ organisationInfo.manchesterEmail }}
                        <hr class="w-100">
                           {{ organisationInfo.brightonAddress }}
                        T: {{ organisationInfo.brightonTelephone }}<br>
                        E: {{ organisationInfo.brightonEmail }}
                       </div>
                    </div>
                    <div class="d-lg-none additional text-white small">
                        {{ organisationInfo.additionalContactInfo }}
                        <hr class="w-100">
                    </div>

                </div>
                <!-- footer links -->

                <div class=" col-lg-4 col-md-4 d-flex align-items-center flex-column">

                        <h4 class="flex-row text-center text-md-left text-white mr-5 p-0" >Quick links</h4>

                    <ul class="footer-links list-unstyled ml-md-2 d-flex flex-column">
                        {% for block in footer.footerLinks.all() %}
                            {% for block in block.footerLeftLink.all() %}
                                {% set link = "" %}
                                {% if block.customLink | length %}
                                {% set link = block.customLink %}
                                    {% else %}
                                        {% set link = block.url %}
                                {% endif %}
                                <li>
                                    <a href="{{ link }}">{{ block.title }}</a>
                                </li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
                <!-- footer links -->

                <!-- subscribe form -->
                <div class="col-lg-4 col-md-4 ffset-lg-1">
                    <div class="mt-lg-0 text-center text-md-left mb-5">
                        <h4 class="mb-2 text-white">{{ subscribe.subscribeBoxFooterHeading | default("Subscribe") }} </h4>
                        <p class="text-white mb-3">Join our email newsletter and stay up to date</p>

                            <form  id="" method="post" name="" class="chimpy validate position-relative"  novalidate="novalidate">

                                <input type="email" value="" name="subemail" class="pass-email form-control subscribe mb-0" id="pass-email" placeholder="Enter Your Email" aria-required="true" aria-invalid="true">

                            <button class="btn-subscribe" type="reset" value="subscribe" name="subscribe" data-toggle="modal" data-target="#subscribeModal" >
                                <i class="ti-arrow-right"></i>
                            </button>
                        </form>
                    </div>

                    <h4 class="mb-3 text-white">Stay in touch</h4>
                    <!-- social icon -->
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a class="social-icon-outline" href="{{ social.facebook }}">
                                <i class="ti-facebook"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="social-icon-outline" href="{{ social.twitter }}">
                                <i class="ti-twitter-alt"></i>
                            </a>
                        </li>
                        <li class="hide list-inline-item">
                            <a class="social-icon-outline" href="#">
                                <i class="ti-vimeo-alt"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="social-icon-outline" href="{{ social.linkedin }}">
                                <i class="ti-linkedin"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="social-icon-outline" href="{{ social.instagram }}">
                                <i class="ti-instagram"></i>
                            </a>
                        </li>
                    </ul>
                    <div class="fr pt-4 w-75">
                        <img src="{{ baseUrl }}images/fr-logo.svg">
                    </div>
                </div>
                <div class="col-12 d-none d-lg-block additional text-white small mb-4">
                    {{ organisationInfo.additionalContactInfo }}

                </div>
            </div>
        </div>
    </div>
    <!-- copyright -->
    <div class="footer pt-4 pb-3 position-relative">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-7">
                    <p class="text-white text-center text-md-left">
                        <span class="text-primary">{{organisationInfo.organisationName}}</span> &copy; {{ 'now' | date('Y') }}
                        <span class="text-primary">{{organisationInfo.charityOrganisationStatement}}</span>

                    </p>
                </div>
                <div class="col-lg-4 col-md-5">
                    <ul class="list-inline footer text-center text-md-right">

                        <li class="hide list-inline-item mx-lg-3 my-lg-0 mx-2 my-2">
                            <a class="font-secondary text-white" href="#">Sitemap</a>
                        </li>
                        <li class="list-inline-item mx-lg-3 my-lg-0 mx-2 my-2">
                            <a class="font-secondary text-white" href="{{ baseUrl }}privacy-policy">Privacy Policy</a>
                        </li>
                        <li class="hide list-inline-item ml-lg-3 my-lg-0 ml-2 my-2 ml-0">
                            <a class="font-secondary text-white" href="#">Terms &amp; Conditions</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- back to top -->
        <button class="back-to-top">
            <i class="ti-angle-up"></i>
        </button>
    </div>

</footer>
<!-- /footer -->

