{% do view.registerAssetBundle("plugins\\dolphiq\\iconpicker\\assets\\sharedAsset") %}
{% extends "_layouts/generic-page-layout.twig" %}
{% block content %}
    {% set lazyImage = false %}
    {% set blockPrefix = "" %}

    {% set projectInfo =  entry.projectContent.all() %}

    {% set globalheaderimage = entry.projectImage.one() %}
    <section class="page-title overlay">

        <div class="container">
            <div class="row">
                <div class="col-lg-12 ">
                    <h1 class="text-white font-weight-bold">{{ entry.title }}</h1>
                    <h2 class="text-white subtitle mb-5">{{ entry.subTitle }}</h2>
                    {# locatin tag idenitfier
                    locationtags
                    #}
                    {% if entry.locationtags|length %}
                        {% for rel in entry.locationtags.all() %}

                            {% if rel.slug=='manchester' %}
                                <span class="text-red ti-location-pin "></span>
                                <span class="text-white text-shadow location pb-3"> Manchester</span>
                            {% elseif rel.slug=='brighton' %}
                                <span class="text-red ti-location-pin "></span>
                                <span class="text-white text-shadow location pb-3"> Brighton</span>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>

        </div>
    </section>
    <!-- sub title -->
    <section class="py-3 bg-gray  hide">
        <div class="container">
            <div class="row">
                <div class="col-lg-12  text-lg-left mb-3 mb-lg-0">
                    <h2 class="subtitle">{{ entry.subTitle }}</h2>
                </div>

            </div>
        </div>
    </section>

    <!-- project single -->
    <section class="section">
        <div class="container">
            <div class="row">
                <!-- SIDEBAR -->
                <aside class="col-lg-4 order-lg-2 order-2">

                    <!-- referal block -->
                    {% include('/projects/_partials/_block_side_referral.twig') %}

{#                    {% if entry.ctaBlock|length %}#}
{#                        {% for block in entry.ctaBlock.all() %}#}
{#                            {% set image = block.image.one() %}#}

{#                            <div class="rounded bg-gray border py-3 px-4 mb-4 ">#}
{#                                <i class="d-inline-block mr-1 text-dark ti-files" style="font-size: 20px;"></i>#}

{#                                <h4 class="mb-1 d-inline-block">{{ block.heading }}</h4>#}
{#                                {% if block.text | length %}#}
{#                                    <p>{{ block.text }}</p>#}
{#                                {% endif %}#}

{#                                {% if image %}#}
{#                                    {% set imgCredit = image.imageCredit ?? null %}#}
{#                                    {% set imgCaption =  image.imageCaption ?? null %}#}
{#                                    {% set imgBlockCaption =  block.caption ?? null %}#}
{#                                    <img class="img-fluid mb-3" src="{{ image.getUrl() }}">#}
{#                                {% endif %}#}

{#                                {% set assets = block.download.all() %}#}
{#                                {% for asset in assets %}#}
{#                                    {% if block.buttonText | length %}#}
{#                                        <a class="btn btn-outline" href="{{ asset.getUrl }}"><span#}
{#                                                    class="ti-arrow-circle-down"></span> {{ block.buttonText }}</a>#}
{#                                    {% endif %}#}
{#                                {% endfor %}#}


{#                            </div>#}
{#                        {% endfor %}#}
{#                    {% endif %}#}

                    <!-- ################################   side related   ########################### -->
                    <div class="mb-4 hide">
                        <h4 class="mb-3">Life stories</h4>
                        {% for story in entry.relatedStories.all() %}
                            {% if story.image.exists() %}
                                {% set asset = story.image.one() %}
                                {% set thumb = {
                                    mode: 'crop',
                                    width: 70,
                                    height: 70,
                                    quality: 75,
                                    position: 'center-center'
                                } %}
                            {% endif %}
                            <div class="d-flex py-3 border-bottom">
                                <div class="mr-4">
                                    <a href="{{ story.url }}">
                                        <img class="rounded" src="{{ asset.url(thumb) }}" alt="post-thumb">
                                    </a>
                                </div>
                                <div>
                                    <h6 class="mb-1">
                                        <a class="text-dark" href="{{ story.url }}">{{ story.title }}</a>
                                    </h6>
                                    <p>{{ story.introText|truncateOnWord(60) }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>


                    <div class="mb-4">
                        <h4>Related publications</h4>
                        {% for story in entry.relatedPublications.all() %}

                            {% if story.pdfThumbnailImage | length %}
                                {% set asset = story.pdfThumbnailImage.one() %}
                                {% set thumb = {
                                    mode: 'crop',
                                    width: 70,
                                    height: 100,
                                    quality: 75,
                                    position: 'center-center'
                                } %}
                            {% endif %}
                            <div class="d-flex py-3 mb-2 border-bottom">
                                <div class="mr-4">
                                    <a href="{{ story.url }}">
                                        <img class="rounded" src="{{ asset.url(thumb) }}" alt="post-thumb">
                                    </a>
                                </div>
                                <div>
                                    <h6 class="mb-1">
                                        <a class="text-dark" href="{{ story.url }}">{{ story.title }}</a>
                                    </h6>

                                </div>
                            </div>


                        {% endfor %}
                    </div>


                    {#  get related news by tags yuck #}
                    {% set tags = entry.newsTags.all() %}
                    {% set relatedTo = [] %}
                    {% for tagId in tags %}

                        {% set relatedTo = relatedTo|merge([{
                            targetElement: tagId.id ,
                            field: 'tags'
                        }]) %}
                    {% endfor %}

                    {% if relatedTo|length > 1 %}
                        {% set relatedTo = ['and']|merge(relatedTo) %}
                    {% endif %}

                    {#  get news entries tagged with this entry's tags #}
                    {% set entries = craft.entries()
                        .section('news').relatedTo(relatedTo)
                        .limit('3') %}
                    {% if entries | length %}
                        <div class="mb-4">
                            <h4>Related news</h4>
                            {% for story in entries.all() %}


                                <div class="d-flex py-3 border-bottom">
                                    {% if story.oldNewsImage | length %}
                                        {% set asset = story.oldNewsImage.one() %}
                                        {% set thumb = {
                                            mode: 'crop',
                                            width: 70,
                                            height: 70,
                                            quality: 75,
                                            position: 'center-center'
                                        } %}
                                        <div class="mr-4">
                                            <a href="{{ story.url }}">
                                                <img class="rounded" src="{{ asset.url(thumb) }}" alt="post-thumb">
                                            </a>
                                        </div>
                                    {% endif %}
                                    <div>
                                        <h6 class="mb-1">
                                            <a class="text-dark" href="{{ story.url }}">{{ story.title }}</a>
                                        </h6>
                                        {{ story.introText }}
                                    </div>
                                </div>


                            {% endfor %}
                        </div>
                    {% endif %}
                </aside>

                <!-- project content -->
                <div class="col-lg-8 order-lg-1 order-1">

                    {% for block in projectInfo %}

                        {% include ('projects/_partials/_' ~ blockPrefix ~ 'block_' ~ block.type.handle) %}

                        {% if block.type.handle == "image" %}
                            {% set lazyImage = true %}
                        {% endif %}

                    {% endfor %}

                    {% if entry.supporters | length %}
                        <div class="d-flex justify-content-center justify-content-lg-start"><h5>Project supporters</h5>
                        </div>
                        <div class="project client-logo-slider d-lg-inline-fle align-self-center align-self-lg-start">
                            {% for supporter in entry.supporters %}
                                {% if supporter.supporterLogo.exists() %}
                                    {% set asset = supporter.supporterLogo.one() %}
                                    {% set height = 100 %}
                                    {% set width = 120 %}
                                    {% if asset.getWidth() < asset.getHeight() %}
                                        {# portrait #}
                                        {% set height = 90 %}
                                    {% elseif asset.getWidth() > asset.getHeight() %}
                                        {# landscape #}
                                        {% set height = 100 %}
                                        {% set width = 180 %}
                                    {% else %}
                                        {# square #}
                                        {% set height = 80 %}
                                        {% set width = 80 %}
                                    {% endif %}

                                    {% set asset = craft.imager.transformImage(asset, {
                                        width: width,
                                        height:height,
                                        effects: { modulate: [100, 0, 100] },
                                        mode: 'fit'
                                    }) %}
                                    {% set imgUrl = asset.getUrl() %}
                                    <a href="{{ supporter.websiteUrl }}"
                                       class="text-center d-block outline-0 py-3 px-2">
                                        <img class="d-unset" src="{{ asset.getUrl('supporterLogo') }}"
                                             alt="{{ supporter.title }}">
                                    </a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

    <!-- see also - list of other projects -->
    {% include 'projects/_partials/_block_footer_related_tags.twig' %}
{% endblock %}
