{% extends "_layouts/generic-page-layout.twig" %}
{% import '_macros' as macros %}

{% block content %}
    {%  set layout = null %}
    <!--Join  Page Entry type Content -->
    {%  if entry is defined %}

        {% include '/_partials/hero-featured.twig' %}

        <section class="generic {{entry.type | kebab }} page {%  if   entry.featureImage | length < '1' %} no-featured-image{% endif %}">
            <div class="container">

                <div class="row ">

                    <div class="col-lg-8 pt-3">
                        <div class="bg-whit rounded mb-40">
                            <h1 class="mb-5">{{ entry.title }}</h1>
                            {% set lazyImage = false %}
                            {% set blockPrefix = "" %}
                            {% for block in entry.contentBlock.all() %}
                                {% include ('pages/_partials/_' ~ blockPrefix ~ 'block_' ~ block.type.handle) %}
                                {% if block.type.handle == "image" %}
                                    {% set lazyImage = true %}
                                {% endif %}
                            {% endfor %}
                        </div>

                    </div>
                    <div class="col-lg-4">
                        <!-- Sidebar -->
                        <div class="bg-white px-4 py-4 sidebar-box-shadow">
                            <!-- categories -->
                            <div class="mb-50">
                                <h4 class="mb-3">Get Involved</h4>
                                {#                                {% set pages = craft.entries.section('pages').level(1).all() %}#}
                                {% set pages = craft.entries.section('pages').hidePage('0').all() %}
                                <ul class="pl-0 mb-0">
                                    {% for entry in pages %}
                                        <li class="border-bottom">
                                            <a href="{{ entry.url }}" class="{{ macros.isActiveChildClass(entry.slug) |trim }} d-block text-color py-10">{{ entry.title }}</a>
                                        </li>

                                    {% endfor %}
                                </ul>
                            </div>

                            <!-- global subscribe newsletter -->
                            <div class="newsletter">
                                <h4 class="mb-3">Stay Updated</h4>


                                <input type="email" name="email" id="email" class="form-control pass-email" placeholder="Email">
                                <button type="submit" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#subscribeModal">Subscribe</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {%  endif %}

{% endblock %}
