<!-- cards row -->
<section class="section  {{ block.type| lower }}">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center mb-3">
                <h2>{{ block.heading | raw }}</h2>
            </div>
            {# supertable#}
                <div class="card-group mb-5">
                    {% for block in block.cardsWithImage.all() %}
                        {% set asset = block.cardImage.one() %}
                        <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
                            <div class="card text-center">
                                {%  if asset | length %}
                                    {% set img = craft.imager.transformImage(asset,
                                        [
                                            { width: 360, height:230, position: asset.getFocalPoint(), jpegQuality:85},
                                        ]
                                        ) %}
                                {% if block.cardLink.one() |  length %}<a htef="{{ block.cardLink.one().url }}">{% endif %}
                                    <div class="card-img-wrapper overlay-rounded-top">
                                    <img class="card-img-top rounded-0" src="{{ img[0].url }}" alt="{{ entry.title}}">
                                </div>
                                    {% if block.cardLink.one() |  length %}</a>{% endif %}
                                {% endif %}
                                <div class="card-body p-0">
                                    <h4 class="card-title pt-3">{{ block.cardTitle }}</h4>
                                    <p class="card-text mx-2 mb-0" data-mh="cardtext">{{ block.cardText }}.</p>
                                    {% if block.cardLink.one() |  length %}
                                        <a class="btn btn-primary translateY-25" href="{{ block.cardLink.one().url }}">{{ block.linkText| default("read more") }}</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                    {% endfor %}
                </div>
        </div>
    </div>
    </div>
</section>
