<!-- cards row -->
<section class="section  {{ block.type| lower }}">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center mb-3">
                <h2>{{ block.heading | raw }} </h2>
            </div>
            {# supertable#}
                <div class="card-group mb-5">
                    {% for block in block.cardsWithImage.all() %}
                        {% set asset = block.cardImage.one() %}
                        <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
                            <div class="card text-center">
                                {%  if asset | length %}
                                    {% set img = craft.imager.transformImage(asset,
                                        [
                                            { width: 360, height:230, position: asset.getFocalPoint(), jpegQuality:85},
                                        ]
                                        ) %}
                                {% if block.cardLink.one() |  length %}<a htef="{{ block.cardLink.one().url }}">{% endif %}
                                    <div class="card-img-wrapper overlay-rounded-top">
                                    <img class="card-img-top rounded-0" src="{{ img[0].url }}" alt="{{ entry.title}}">
                                </div>
                                    {% if block.cardLink.one() |  length %}</a>{% endif %}
                                {% endif %}
                                <div class="card-body p-0">
                                    <h4 class="card-title pt-3">
                                        {% if block.cardLink.one() |  length %}
                                            <a href="href="{{ block.cardLink.one().url }}>
                                                {% endif %}
                                                {{ block.cardTitle }}
                                                {% if block.cardLink.one() |  length %}</a>{% endif %}</h4>
                                    <p class="card-text mx-2 mb-0" data-mh="cardtext">{{ block.cardText }}.</p>
                                    {% if block.cardLink.one() |  length %}
                                        <a class="d-none btn btn-primary translateY-25" href="{{ block.cardLink.one().url }}">{{ block.linkText| default("read more") }}</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                    {% endfor %}
                </div>
        </div>
    </div>
    </div>
</section>

<!-- news row -->
{% set queryParams = {
    section: 'news',
    orderBy: 'sticky desc, postDate desc',
    limit: '10'
} %}
{% set news = craft.entries(queryParams).limit(3) %}
<section class="newslist white mb-5">
    <div class="container">
        <div class="row ">
            <div class="col-12 text-center mb-3">
                <h2>In the news</h2>
            </div>
            {% set layout = "n" %}
            {% cache %}
                {% for entry in news %}
                    {% set date = '<span class="date  d-inline-block mb-1">' ~ entry.postDate.format('F d, Y') ~ '</span>'  %}

                    {% switch entry.type %}
                    {% case 'oldnews' %}

                        {% set asset = entry.oldNewsImage.one() %}
                        {% set introText = entry.body | striptags | wordLimit(40)   %}

                    {% case 'news' %}
                        {% set asset =  entry.image.one() %}
                        {#                                    {% set introText = entry.newsIntro  %}#}
                        {# get promo block pdf image if exists EXPENSIVE!!! #}
                        {#                                        {% for block in entry.contentBlock.type('promotion').all() %}#}
                        {#                                            {% if block.entryToPromote |length  %}#}
                        {#                                                #}{#{% if loop.index == 1 %}#}

                        {#                                                {%  set asset = block.entryToPromote.one().pdfThumbnailImage[0] ?? null  %}#}


                        {#                                                #}{#{% endif %}#}
                        {#                                                {% else %}#}
                        {#                                                    {% set asset =  entry.image.one() %}#}
                        {#                                                {% endif %}#}
                        {#                                            {% endfor %}#}
                    {% case 'newsBlockBuilder' %}
                        {% set asset =  entry.image.one() %}
                        {% set introText = entry.newsIntro  %}
                    {% endswitch %}

                    {#{% switch entry.type %}#}
                    {#{% case 'oldnews' %}#}
                    {#{% set asset = entry.oldNewsImage.one() %}#}
                    {#{% case 'news' %}#}
                    {#{% set asset =  entry.image.one() %}#}
                    {#{% endswitch %}#}



                    <!-- blog-item -->
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <div class="card">
                            {% if asset | length %}

                                {% set newsImage = craft.imager.transformImage(asset,
                                    [
                                        { width: 576, position: asset.getFocalPoint(), jpegQuality: 85,ratio: 4/3 },
                                        { width: 550, height:350,position: asset.getFocalPoint(), ratio: 2/1 ,jpegQuality: 90 },
                                        { width: 720, height:375,position: asset.getFocalPoint(), ratio: 2/1 ,jpegQuality: 90 },
                                    ],
                                    {
                                        format: 'jpg',
                                        allowUpscale: true,
                                        mode: 'crop',
                                        jpegQuality: 90,
                                        interlace: true
                                    }
                                ) %}

                                <a href="{{entry.url}}">
                                    <div class="card-img-wrapper overlay-rounded-top">
                                        <picture>
                                            <source media="(max-width: 320px)" sizes="100vw" srcset="{{ newsImage[0].url }}">
                                            <source media="(max-width: 540px)" sizes="100vw" srcset="{{ newsImage[1].url }}">
                                            <source media="(max-width: 992px)" sizes="100vw" srcset="{{ newsImage[2].url }}">
                                            <img class="card-img-top" src="{{ newsImage[1].url }}" alt="{{ entry.title }}">
                                        </picture>
                                    </div>
                                </a>
                            {% else %}
                                <div class="card-img-wrapper overlay-rounded-top">
                                    <picture>
                                        <img class="card-img-top" src="{{ nullImage }}" alt="{{ entry.title }}">
                                    </picture>
                                </div>
                            {% endif %}
                            <div class="card-body p-0">
                                <div class="d-flex" data-mh="blog-height">
                                    <div class="py-3 px-4 border-right text-center">
                                        <h3 class="text-primary mb-0">{{ entry.postDate.format('d') }}</h3>
                                        <p class="mb-0">{{ entry.postDate.format('M') }}</p>
                                    </div>
                                    <div class="p-3">
                                        <a href="{{entry.url}}" class="h4 font-primary text-dark">
                                            {{entry.title}}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                {% endfor %}
            {% endcache %}
        </div>
    </div>

</section>


