<!-- process steps -->
{% if block.steps | length %}
    <section class="section position-relative  {{ block.type| lower }}">
        <div class="container">
            <div class="row justify-content-center mb-5">
                {% if block.heading | length %}
                    <div class="col-12 text-center mb-3">
                        <h2 class="">{{ block.   heading | raw }}</h2>
                    </div>
                {% endif %}
                {% if block.subheading | length %}
                    <div class="col-12 text-center mb-2 pb-lg-5">
                        {{ block.subheading }}</div>
                {% endif %}
            </div>
            <div class="row justify-content-center mb-5">
                {% for block in block.steps.all() %}

                <!-- process step -->
                <div class="col-lg-4 col-sm-6 mb-md-50">
                    <div class="process-item py-xl-4 pl-xl-5 pt-5 px-4 rounded border position-relative" data-mh="mh-process">
                        <div class="process-item-number">{{ block.stepNo }}</div>
                        <h5 class="text-primary">{{ block.heading }}</h5>
                        <p>{{ block.text }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <img class="arrow-top" src="images/arrow-top.png" alt="">
        <img class="arrow-bottom" src="images/arrow-bottom.png" alt="">
    </section>
{% endif %}
