{% extends "_layouts/generic-page-layout.twig" %}
{% set bodyClass = "donate-fr" %}
{% block content %}
    {% set layout = null %}

    <!-- Page Content -->
    {% if entry is defined %}

    {#        {% include '/_includes/hero-featured.twig' %}#}


    <!-- service -->
    <section class="mt-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12 text-center">

                    <h1 class="section-title section-title-border">Donate</h1>
                </div>
                <div class="row ">
                    <div class="col-sm-12 col-md-10 offset-md-1 text-center pb-5">
                        <p class="lead">{{ entry.introText | striptags }}</p>
                    </div>
                </div>


            </div>
        </div><!-- /.container -->
    </section>
    <!-- pricing -->
    <section class="mt-2 mb-5">
    <div class="container">
    <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
        {% if entry.regularGivingHeading | length %}
            <h2 class="mb-2">{{ entry.regularGivingHeading }}</h2>
        {% endif %}
        {% if entry.regularGivingSubtitle | length %}
            <p class="mb-5">{{ entry.regularGivingSubtitle }}</p>
        {% endif %}
    </div>

    {% if entry.regularGivingAmountBoxes | length %}

        {% for block in entry.regularGivingAmountBoxes.all() %}

            {% for block in block.amountBox.all() %}
                <!-- pricing item -->
                <div class="col-lg-4 col-sm-6 mb-md-50">
                    <div class="rounded border">
                        <div class="p-4 border-bottom">
                            <h2 class="font-weight-bold mb-3">£{{ block.amount }}<span class="h5">/month</span>
                            </h2>
                            <i class="square-icon translateY-10 float-right ti-gift"></i>
                        </div>
                        <div class="pt-5 px-4" data-mh="giftbox">

                            <p>{{ block.text }}</p>

                            <a href="{{ baseUrl }}get-involved/donate/monthly-gift?amount=10.00" class="btn btn-primary translateY-25">{{ block.buttonText | default("Donate") }}</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
        {% endif %}




        </div>
        </div>
        </section>
        <!-- /pricing -->

        <section class="cta bg-gray py-50 text-center text-lg-left">
            <div class="container">

                <div class="row justify-content-between">
                    <div class="col-lg-12 text-center">
                        {%  if entry.oneOfHeading | length %}<h2 class="mb-2">{{ entry.oneOfHeading }}</h2>{% endif %}
                        {%  if entry.oneOffSubtitle | length %}<p class="mb-5">{{ entry.oneOffSubtitle }}</p>{% endif %}
                         </div>

                    <div class="col-lg-12 ">

                        <form class="form-inline justify-content-center" method="get" action="{{ baseUrl }}donate">
                            <div class="form-group mx-sm-3 mb-2">
                                <label for="amount" class="sr-only">Amount</label>
                                <i class=" translateY-10 coins ti-server pr-4 pt-3"></i>
                                <input type="amount" class="form-control mb-0" id="amount" placeholder="amount">
                            </div>
                            <a href="{{ baseUrl }}get-involved/donate/one-off-donation?amount=10.00" class="btn btn-primary mb-2">DONATE</a>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}


{% endblock %}
