{% extends "_layouts/generic-page-layout.twig" %}
{% import '_macros' as macros %}
{% set bodyClass =  " page" %}
{% block content %}
    {% set layout = null %}
    <!--Join  Page Entry type Content -->
    {% if entry is defined %}

        {% include '/_partials/hero-banner.twig' %}

        <section class="ala {{ entry.type }} page {% if   entry.featureImage | length < '1' %} no-featured-image{% endif %}">
            <div class="container">

                <div class="row justify-content-center mb-5">

                    <div class="col-sm-8 col-sm-offset-2 pt-3">
                        <div class="bg-whit rounded mb-40">
                            <h3 class="mx-auto text-center mb-5 section-title section-title-border ">
                            {% if entry.introText | length %}
                                {{ entry.introText | striptags }}
                            {% endif %}
                            </h3>
                        </div>
                    </div>
                </div>

                {# this page entry type will list all sub pages beneath if of type 'page' #}
                {% set subPages = craft.entries.descendantOf(entry.id) %}

                {# Get entries to build the sub-page list #}
                <div class="mb-5 hide" >
                {% for sentry in subPages.all() %}
                    <div class="row justify-content-center mb-4">
                        <div class="col-sm-8 col-sm-offset-2 pt-3">
                            <div class="row">
                                <div class="col-4">
                                    {% set asset = sentry.featureImage[0] ?? null %}
                                    {% if asset | length %}
                                        <figure class="image-holder mb-0">

                                            {% set imgCredit =  asset.imageCredit ?? null %}
                                            {% set imgCaption =  asset.imageCaption ?? null %}

                                            <picture>

                                                <a href="{{ sentry.url }}">
                                                    <img class="img-fluid d-flex mx-auto"
                                                         src="{{ asset.getUrl('cardLandscape') }}"
                                                         width="{{ asset.getWidth('cardLandscape') }}"
                                                         height="{{ asset.getHeight('cardLandscape') }}"

                                                         alt="{{ asset.title }} {{ imgCredit }} {{ imgCaption }}">
                                                </a>
                                                <figcaption class="position-relative">
                                                    {% if imgCredit %}
                                                        <span class="picture-credit">
                                                {% if imgCaption %}
                                                    <span class="picture-caption">
                                                        {{ imgCaption }}
                                                </span>
                                                {% endif %}
                                                &copy; {{ asset.imageCredit }}</span>
                                                    {% endif %}
                                                </figcaption>
                                            </picture>
                                        </figure>
                                    {% endif %}
                                </div>
                                <div class="col-8">
                                    <h3><a href="{{ sentry.url }}">{{ sentry.title }}</a></h3>
                                    {% if sentry.introText | length %}
                                        {{ sentry.introText }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </section>

        <section class=" container mb-5">
            <div class="row justify-content-center">

{#                <!-- regional item row header-->#}
{#                <div class="col-lg-12 text-center ">#}

{#                    <h2 class="section-title section-title-border text-center" "> {% if entry.introText | length %}#}
{#                            {{ entry.introText }}#}
{#                        {% endif %}</h2>#}

{#                </div>#}
                {% for sentry in subPages.all() %}

{#                {% for card in block.cardItem.hideCard('not 1').all() %}#}
                    {% set asset = sentry.featureImage[0] ?? null %}

                    {% if asset | length %}
                        {% set imgCredit =  asset.imageCredit ?? null %}
                        {% set imgCaption =  asset.imageCaption ?? null %}

                        {% set listTitle =  sentry.listTitle ? sentry.listTitle : sentry.title  %}


                        {% set asset = craft.imager.transformImage(asset, {
                            width: 350,
                            height:190,
                            position: asset.getFocalPoint(),
                            cropZoom: 1.5
                        }) %}
                        {% set imgUrl = asset.getUrl() %}
                    {% else %}

                        {% set imgUrl = "https://via.placeholder.com/350x190" %}
                    {% endif %}
                    <!-- regional item col -->
                    <div class="col-lg-4 col-sm-6 col-xs-12 mb-4">
                        <div class="card text-center" >
                            <a href="{{ sentry.url }}">
                                <div class="card-img-wrapper">
                                    <img  class="card-img-top rounded-0"  src="{{ imgUrl }}" alt="{{ imgCredit }} {{ imgCaption }}">
                                </div>
                            </a>
                            <div class="card-body py-3 px-2" data-mh="mh-card">
                                <h4 class="card-title pt-3" data-mh="mh-title">

                                    <a href="{{ sentry.url }}">{{ listTitle }} </a>

                                </h4>
                                <p class="card-text mx-2 " data-mh="mh-text">
                                    {% if sentry.introText | length %}
                                        {{ sentry.introText }}
                                    {% endif %}</p>


                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    {% endif %}

{% endblock %}
