{% extends "_layouts/generic-page-layout.twig" %}

{% block content %}
    {% set entries = craft.entries({
    section: 'staff',
    with: ['staffImage']
    }) %}

{#    {% include '/_includes/featured_background.twig' %}#}

    <section class="news blue  p-0" >
        <div class="container">
            <div class="row ">
                <div class="col-md-10  pb-2 ">
                    <div class="page-heading mb-4">{{ entry .title }}</div>
                </div>

            </div>
        </div>
    </section>

    <!-- Staff list Content -->
    <section class="section">
    <div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-12 text-center">
            <h1 class="section-title section-title-border">{{entry.title}}</h1>
            <p class="lead mb-5 col-lg-8 offset-lg-2 col-xs-12 px-0">{{entry.introText|striptags}}</p>
        </div>



        {% for category in craft.categories.group('staffGroups').all() %}


            <div class="col-lg-12 text-center py-4"><h3>{{ category.title }}</h3></div>

        {% for entry in entries.relatedTo(category).all() %}


            {% set assets = entry.staffImage %}



        <!-- team member -->
        <div class="col-lg-3 col-sm-6 col-6 mb-4">
            <div class="card text-center mb-4">
                {%  if assets | length %}
                {%  set imgurl = assets[0].getUrl('listThumb') %}
                {% else %}
                    {% set imgurl = baseUrl ~ 'assets/images/staff/_listThumb/staff-silhouette-male350x350px.png' %}
                    {% endif %}
                {% if entry.staffRoleDescription | length %}
                    <a href="{{ entry.url }}">
                {% endif %}
                    <img class="card-img-top" src="{{ imgurl }}" alt="{{ entry.title }}">
                {% if entry.staffRoleDescription | length %}
                    </a>
                {% endif %}
                <div class="card-body card-body-2 pb-0 px-4">
                    <h5 class="card-title">{{entry.title}}</h5>
                    <h6 class="text-color mb-30"  data-mh="jobtitle"> {{ entry.staffJobTitle }}</h6>
                    <ul class="hide list-inline border-top d-inline-block">
                        <li class="list-inline-item">
                            <a href="#" class="text-color d-inline-block p-lg-2">
                                <i class="ti-facebook"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="text-color d-inline-block p-lg-2">
                                <i class="ti-twitter-alt"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="text-color d-inline-block p-lg-2">
                                <i class="ti-linkedin"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="text-color d-inline-block p-lg-2">
                                <i class="ti-google"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
        {# end category loop item #}

        {% endfor %}
    </div>
    </div>
    </section>

    

{% endblock %}