<section class="block our-impact">
    <div class="row mb-0 hide ">
        <div class="col-md-12  {{ block.type }} ">
            <h3 class="mb-3">{{ block.heading }}</h3>
        </div>
        <div class="col-lg-6 mb-3">
            <div class="card px-2 py-4 text-center h-100">
                <i class="h2 text-primary d-inline-block mb-20 ti-bar-chart"></i>
                <div class="stat">76</div>
                <h4>Mental Health</h4>
                <P>76 clients / professionals identified an improvement in physical or mental health, and 25 identified an improvement in their substance misuse.</P>
            </div>
        </div>
        <div class="col-lg-6 mb-3">
            <div class="card px-2 py-4 text-center h-100">
                <i class="h2 text-primary d-inline-block mb-20 ti-bar-chart"></i>
                <div class="stat">616</div>
                <h4>Health appointments</h4>

                <p>physical / mental health appointments were arranged or attended by a health engagement worker.</p>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card px-2 py-4 text-center h-100">
                <i class="h2 text-primary d-inline-block mb-20 ti-bar-chart"></i>
                <div class="stat">33%</div>
                <h4>Hospital visits</h4>
                <p>In Brighton, we've provided health engagement work to over 700 people, resulting in a 33% reduction in unplanned hospital admissions and a 47% reduction in hospital readmission rates.</p>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card px-2 py-4 text-center h-100">
                <i class="h2 text-primary d-inline-block mb-20 ti-bar-chart"></i>
                <div class="stat">63</div>
                <h4>Motivation</h4>
                <p>63 of our Brighton clients reported an improvement in their motivation to take responsibility for themselves going forward.</p>
            </div>
        </div>
    </div>
    <div class="row mb-0 ">

        <div class="col-md-12  {{ block.type }} ">
            <h2 class="mb-3">{{ block.heading }}</h2>
        </div>
            <div class="card-group">
                {% for item in block.impactCard %}

                    <div class="col-lg-6 mb-3">
                        <div class="card px-2 py-4 text-center h-100">

                            <span class=""><pre>{{ item.icon.glyph }}</pre></span>
                            {{ item.icon.css  }}
                            <hr>
                            {{ craft.iconPicker.fontUrl('themify--fvbane.ttf') }}
                            {{ item.icon.glyph  }}
                            {{ item.icon.glyph|raw  }}
{#                            {{  dump(item.icon) }}#}
                            <span class="fa">&#xf1e2</span>


                            <i class="align-content-between ti-{{ item.icon }} " aria-hidden="true"></i>
                            {% if item.stat |length %}
                                <div class="stat">{{ item.stat }}</div>
                            {% endif %}
                            <h4>{{ item.statisticType }}</h4>
                            <p>{{ item.impactText }}</p>
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>

</section>