{% set image = block.image.one() %}

{% set thumb = {
    mode: 'crop',
    width: 445,
    height: 312,
    quality: 85,
    position: 'top-center'
} %}


    {% set imgCredit = image.imageCredit ?? null %}
    {% set imgCaption =  image.imageCaption ?? null %}
    {% set imgBlockCaption =  block.caption ?? null %}

    {% if block.alignment =='left' %}
        {% set orderOne = 'order-1' %}
        {% set orderTwo = 'order-2' %}
    {% endif %}

    {% if block.alignment == "right" %}
        {% set orderOne = 'order-2' %}
        {% set orderTwo = 'order-1' %}
    {% endif %}

    {% if block.alignment == "center" %}
        {% set orderOne = 'order-0' %}
        {% set orderTwo = 'order-0' %}
    {% endif %}

    <!-- row image -->
    <section class="section {{ entry.type }} {{ block.alignment }}">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 align-self-center {{ orderOne }}">
                    <div class="overlay overlay-rounded mb-md-50">
                        <img class="img-fluid w-100 rounded" src="{{ image.url }}" alt="{{ entry.title }}">

                    </div>
                </div>
                <div class="col-lg-7 {{ orderTwo }}">

                    <h2 class="section-title section-title-border-half">{{ block.heading }}</h2>
                    {{block.text}}
                    <a href="#" class=" hide btn btn-primary">Explore More</a>
                </div>
            </div>
        </div>
    </section>
    <!-- row image -->
