{% extends "_layouts/generic-page-layout.twig" %}
{% set bodyClass = " donate" %}
{% block content %}

    <link type="text/css" rel="stylesheet"
          href="https://az763204.vo.msecnd.net/wwcss/stripepayments.2015.1.css"/>


    <!--Make sure the correct version of the file is uncommented-->
    <script type="text/javascript"
            src="https://az763204.vo.msecnd.net/wwjs/stripepayments_2020.5.2.js"></script>
    <!--<script type="text/javascript" src="https://az763204.vo.msecnd.net/wwjs/stripepayments_2020.5.2.demo.js?ckcachebust=624801434"></script>-->

    <script type="text/javascript" src="https://js.stripe.com/v3/"></script>
    <script src="https://www.google.com/recaptcha/api.js?render=6LfmY9EZAAAAAB5vup71g-kwuqY1N7IS78Q7haRR"></script>

    {% set asset = entry.donateHeaderImage[0] ?? null %}

    {% if asset | length %}
        {% set transformedBannerImages = craft.imager.transformImage(asset,
            [
                { width: 550, height:380, position: asset.getFocalPoint(), jpegQuality: 75,ratio: 4/3, cropZoom:1.5 },
                { width: 768, height:380, position: asset.getFocalPoint(), ratio: 2/1, jpegQuality: 85, zoom: 1 },
                { width: 1024, height:380, position: asset.getFocalPoint() ,jpegQuality: 95 },
                { width: 1200, height:580, position: asset.getFocalPoint() },
                { width: 2400, height:530, position: asset.getFocalPoint(),ratio: 2/1 }
            ],
            {
                format: 'jpg',
                allowUpscale: true,
                mode: 'crop',
                jpegQuality: 90,
                interlace: true
            }
            ) %}
        {% css %}
            @media(min-width: 0px){
            .donate.overlay{
            background-image: url('{{ baseUrl ~ transformedBannerImages[0].url }}');
            height:380px;
            background-position-y:-48px;
            background-position-x:0px;
            padding:200px 0 0 ;
            }
            }
            @media(min-width: 550px){
            .donate.overlay{
            background-image: url('{{ baseUrl ~ transformedBannerImages[1].url }}');
            height:380px;
            background-position-y:-75px;
            }
            }
            @media(min-width: 768px){
            .donate.overlay{
            background-image: url('{{ baseUrl ~ transformedBannerImages[2].url }}');
            height:480px;
            background-position-y:-75px;
            }
            }
            @media(min-width: 990px){
            .donate.overlay{
            background-image: url('{{ baseUrl ~ transformedBannerImages[3].url }}');
            {#                        height:593px;#}
            }
            }

            @media(min-width: 1200px){
            .donate.overlay{
            background-image: url('{{ baseUrl ~ transformedBannerImages[4].url }}');
            height:593px;
            }
            }
            @media(min-width: 1400px){
            .donate.overlay{
            background-image: url('{{ baseUrl ~ transformedBannerImages[4].url }}');
            height:653px;
            }
            }
            @media(min-width: 1600px){
            .donate.overlay{
            background-image: url('{{ baseUrl ~ transformedBannerImages[4].url }}');
            height:753px;
            background-position-y:-165px;
            }
            }


        {% endcss %}
    {% endif %}
    <section class="donate page-title overlay" style="background-image: url('{{ asset.url }}');">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                </div>
            </div>
        </div>
    </section>

    <!-- title -->
    <section class=" title ">

        <!-- formstuff-->
        <div class="container">
            <div class="row justify-content-start">
                <div class="col-sm-12 col-md-6 col-left">

                    <div class="rounded p-sm-5 px-3 py-3 bg-secondary shadow info-box">
                        <h3 class="section-title mb-4 section-title-border-half text-white">{{ entry.donateInfoBoxTitle }}</h3>

                        <p class="text-white mb-1 mb-md-3">{{ entry.donateInfoBoxText }}</p>
                        <div class="mx-auto text-center "><i class="d-md-none ti-angle-double-down text-white"
                                                             data-toggle="collapse" href="#collapseExample"></i></div>
                        <div class="collapse" id="collapseExample">

                            {% if entry.donateInfoBoxList | length %}
                                {% for block in entry.donateInfoBoxList.all() %}
                                    <ul class="d-inline-block pl-0">
                                        {% for block in block.listItem.all() %}

                                            <li class="font-secondary mb-10 text-white {% if loop.first %}float-sm-left mr-sm-5{% endif %}">
                                                <i class="text-primary mr-2 ti-arrow-circle-right"></i>{{ block.item }}
                                            </li>

                                        {% endfor %}
                                    </ul>
                                {% endfor %}
                            {% endif %}
                        </div>
                        {% if entry.donateInfoBoxMoreText | length %}
                            <div id="accordion">
                                <a class="card-link h5 d-block tex-dark mb-0 py-10 px-4" data-toggle="collapse"
                                   href="#collapseOne">
                                    <i class="ti-plus text-primary mr-2"></i> More
                                </a>
                                <div id="collapseOne" class="collapse"
                                     data-parent="#accordion">
                                    <div class="card-body font-secondary text-white pl-0 pb-0">
                                        {{ entry.donateInfoBoxMoreText }}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lift donorfy shadow">
                    {% if entry.donateFormTitle %} <h2
                            class="d-none d-md-block">{{ entry.donateFormTitle }}</h2>{% endif %}
                    <form method="post" id="CreditCardForm">
                        <!-- You can change the layout, mark up, add css classes & styles etc however do not change the field names or field ids -->
                        {% if entry.donateFormSubtitle %}<h3>{{ entry.donateFormSubtitle }}</h3>{% endif %}
                        <table class="table">
                            <tbody>
                            <tr>
                                <td>
                                    <label class="" for="Title">Title*</label><br>
                                    <input type="text" name="Title" class="required" id="Title" maxlength="50">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="" for="FirstName">First Name*</label><br>
                                    <input type="text" name="FirstName" class="required" id="FirstName" maxlength="50">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="" for="LastName">Last Name*</label><br>
                                    <input type="text" name="LastName" class="required" id="LastName" maxlength="50">
                                </td>
                            </tr>
                            <tr style="display:none;">
                                <td>
                                    <label class="" for="AddressSearch">Address Search</label><br>
                                    <input type="text" class="" id="AddressSearch" maxlength="50"
                                           placeholder="Use Postcode or Address">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="" for="Address1">Address</label><br>
                                    <input type="text" name="Address1" class="required" id="Address1" maxlength="50">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" name="Address2" class="" id="Address2" maxlength="50">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="" for="Town">City</label><br>
                                    <input type="text" name="Town" class="required" id="Town" maxlength="50">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="" for="County">County</label><br>
                                    <input type="text" name="County" class="" id="County" maxlength="50">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="" for="Postcode">Postcode</label><br>
                                    <input type="text" name="Postcode" class="required" id="Postcode" maxlength="10">
                                </td>
                            </tr>
                            <tr style="">
                                <td>
                                    <label class="" for="Country">Country</label><br>
                                    <select name="Country" class="form-control" id="Country">
                                        <option value=""></option>
                                        <option value="Holland">Holland</option>
                                        <option value="Germany">Germany</option>
                                        <option value="France">France</option>
                                        <option value="United Kingdom">United Kingdom</option>
                                        <option value="Italy">Italy</option>
                                        <option value="Spain">Spain</option>

                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="" for="Phone">Phone</label><br>
                                    <input type="text" name="Phone" class="" id="Phone" maxlength="50">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="" for="Email">Email*</label><br>
                                    <input type="text" name="Email" class="required" type="email" id="Email"
                                           maxlength="50">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <h3>Payment details</h3>
                        <table>
                            <tbody>
                            <tr>
                                <td>
                                    <label class="" for="Amount">Amount*</label><br>
                                    <span id="AmountPrefix">&pound;</span>
                                    <input value="" type="text" name="Amount" class="required number amount" id="Amount"
                                              title="Please enter the amount you want to give - don't include the pound sign">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="" for="card-number">Card Number*</label><br>
                                    <div id="card-number" class=""></div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="" for="card-expiry">Expires*</label><br>
                                    <div id="card-expiry" class=""></div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="" for="card-cvc">Security Code / CVC *</label><br>
                                    <div id="card-cvc" class=""></div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="" for="OneOffPayment">I would like to make this gift*</label><br>
                                    <label><span>A One Off</span><input type="radio" id="OneOffPayment"
                                                                        name="PaymentType" value="OneOff"
                                                                        checked="checked"></label><label>
                                        <span>An Ongoing Commitment to Help</span>
                                        <input type="radio" id="RecurringPayment" name="PaymentType" value="Recurring">
                                    </label>
                                </td>
                            </tr>
                            <tr id="PaymentScheduleRow" style="display: none;">
                                <td>
                                    <label class="" for="MonthlyPayment">I would like to donate*</label><br>
                                    <label><span>Monthly</span>
                                        <input type="radio" id="MonthlyPayment"
                                               name="PaymentSchedule" value="Monthly"
                                               checked="checked"></label><label><span>Quarterly</span><input
                                                type="radio" id="QuarterlyPayment" name="PaymentSchedule"
                                                value="Quarterly"></label><label><span>Annually</span><input
                                                type="radio" id="AnnualPayment" name="PaymentSchedule" value="Annually"></label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="" for="Comment">Comments</label><br>
                                    <textarea rows="3" cols="40" class="" name="Comment" id="Comment"
                                              title="Optional comments you may wish to make regarding this payment">
                    </textarea>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <!-- insert your gift aid logo here -->
                        <h3>Gift Aid</h3>
                        <div>
                            <label>Yes I would like you to claim Gift Aid on my donation</label> <input id="GiftAid"
                                                                                                        type="checkbox"/>
                            <p>
                                I want all donations I've made to you in the past four years and all donations in future
                                to be treated as Gift Aid donations until I notify you otherwise.<br/>
                                I am a UK taxpayer and understand that if I pay less Income Tax and/or Capital Gains Tax
                                than
                                the amount of Gift Aid claimed on all my donations in that tax year it is my
                                responsibility to pay any
                                difference.<br/>
                                We will claim 25p on every &pound;1 you donate.
                            </p>
                        </div>
                        <div>
                            <label>
                                I would like to be kept up to date with your projects and activities by the methods I
                                choose below<br/>
                                <input type="checkbox" value="2" class="KeepInTouch">&nbsp;Email<br/>
                                <input type="checkbox" value="4" class="KeepInTouch">&nbsp;Post<br/>
                                <input type="checkbox" value="8" class="KeepInTouch">&nbsp;Sms<br/>
                                <input type="checkbox" value="16" class="KeepInTouch">&nbsp;Phone<br/>
                            </label>
                        </div>


                        <table>
                            <tbody>
                            <tr>
                                <td style="text-align: right">
                                    <div id="card-errors" role="alert"></div>
                                    <div id="ErrorContainer" class="ErrorContainer">
                                        There is a problem with your donation
                                        <div id="Errors"></div>
                                    </div>

                                    <input type="submit" value="{{ entry.donateButtonText |default("Donate now") }}" id="submitButton">
                                    <div id="PleaseWait" style="display: none; color: darkblue">Processing your donation
                                        - please wait ...
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <!-- Hidden fields for tags -->
                        <input type="hidden" id="ActiveTags" value=""/>
                        <input type="hidden" id="BlockedTags" value=""/>
                        <!-- Do not change these values -->
                        <input type="hidden" id="PublishableKey"
                               value="pk_live_51HRIKuHBdizcKlMwud4FzsUe8TYR3DRzZ0rNLpIGgnoCSsuILxK7AmVRN2jDahANmlzcxamBNmtB1DcBGUMPYqN700Xg6C0ZFu"/>
                        <input type="hidden" id="TenantCode" value="2CQ425IEX8"/>
                        <input type="hidden" id="WidgetId" value="0ff7cdfc-71fe-ea11-b5d9-501ac582a015"/>
                        <input type="hidden" id="DonationPageId" value=""/>
                        <input type="hidden" id="RedirectToPage"
                               value="https://www.justlife.org.uk/donation-thank-you"/>
                        <input type="hidden" id="ReCaptchaSiteKey" value="6LfmY9EZAAAAAB5vup71g-kwuqY1N7IS78Q7haRR"/>
                        <input type="hidden" id="ReCaptchaAction" value="Donorfy"/>
                    </form>
                </div>
            </div>
            <div class="row">

            </div>
        </div>
    </section>


    <script>
        // STRIPE
        // The InitialiseForm() function is called after the form has loaded
        // optionally you add any code you want to run
        // e.g. to style the controls added by Stripe Elements to access the controls
        // use variables cardNumber, cardExpiry and cardCvc
        // see https://stripe.com/docs/stripe-js/reference#element-mount

        function InitialiseForm() {
            var elementStyles = {
                base: {
                    backgroundColor: '#fff',
                    color: '#32325D',
                    fontWeight: 500,
                    fontFamily: 'Source Code Pro, Consolas, Menlo, monospace',
                    fontSize: '16px',
                    fontSmoothing: 'antialiased',
                    '::placeholder': {
                        color: '#CFD7DF',
                    },
                    ':-webkit-autofill': {
                        color: '#D00E38',
                    },
                },
                invalid: {
                    color: '#D00E38', '::placeholder': {color: '#FFCCA5',},
                }
            };
            var elementClasses = {
                base: 'basey',
                focus: 'focused form-control',
                empty: 'empty form-control',
                invalid: 'invalid form-control',
            };
            cardNumber.update({style: elementStyles, classes: elementClasses});
            cardExpiry.update({style: elementStyles, classes: elementClasses});
            cardCvc.update({style: elementStyles, classes: elementClasses});

            // var form = document.getElementById('#CreditCardForm');   //your form element
            // console.log(form);
            //
            // form.addEventListener("submit", function(evt) {
            //
            //     console.log("listening");
            //     // for(var i = 0; i < form.elements.length; i++) {
            //     //     var el = form.elements[i];
            //     //     if (!el.checkValidity()) {
            //     //         evt.preventDefault();
            //     //         console.log('Fix the form!');
            //     //         return;
            //     //     }
            //     // }
            // });
        }

        // listen for `invalid` events on all form inputs

        // form.find(':input').on('invalid', function (event) {
        //     var input = $(this)
        //
        //     // the first invalid element in the form
        //     var first = form.find('.error').first()
        //
        //     // only handle if this is the first invalid input
        //     if (input[0] === first[0]) {
        //         // height of the nav bar plus some padding
        //         var navbarHeight = navbar.height() + 50
        //
        //         // the position to scroll to (accounting for the navbar)
        //         var elementOffset = input.offset().top - navbarHeight
        //
        //         // the current scroll position (accounting for the navbar)
        //         var pageOffset = window.pageYOffset - navbarHeight
        //
        //         // don't scroll if the element is already in view
        //         if (elementOffset > pageOffset && elementOffset < pageOffset + window.innerHeight) {
        //             return true
        //         }
        //
        //         // note: avoid using animate, as it prevents the validation message displaying correctly
        //         $('html,body').scrollTop(elementOffset)
        //     }
        // });
    </script>
    {% js %}

var getUrlParameter = function getUrlParameter(sParam) {
            var sPageURL = window.location.search.substring(1),
            sURLVariables = sPageURL.split('&'),
            sParameterName,
            i;

            for (i = 0; i < sURLVariables.length; i++) {
            sParameterName = sURLVariables[i].split('=');

            if (sParameterName[0] === sParam) {
                console.log(typeof sParameterName[1]);
                if(sParameterName[1] === NaN){
                     sParameterName[1] = "";
                }else {
                    return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
                }
            }
            }
        };

        var myamount = (getUrlParameter('amount')*1).toFixed(2);

        // deal with null NaN
        if(myamount === "NaN"){
            myamount = "";
        }

        document.getElementById('Amount').value = myamount;
        document.getElementById('Amount').setAttribute('value', myamount);

        document.getElementById('Amount').addEventListener('change', doThingWithAmount);
        function doThingWithAmount(){
        var don = (this.value*1).toFixed(2);

        document.getElementById('Amount').value = don;
        document.getElementById('Amount').setAttribute('value', don);
        }

    {% endjs %}

{% endblock %}
