{#
 # News index template
 # -------------------
 #
 # This template is loaded whenever http://example.com/news is
 # requested, because it is located at news/index.html in your
 # craft/templates/ folder.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layouts/generic-page-layout.twig" %}


{% block content %}

    <!-- list content -->

{#    <section class="news blue pt-lg-5 pb-lg-3 pt-sm-4 pb-sm-2">#}
{#        <div class="container">#}
{#            <div class="row ">#}
{#                <div class="col-xs-12 col-sm-1">#}
{#                    <div class="page-heading">News</div>#}
{#                </div>#}
{#                <div class="col-xs-12 col-sm-11">#}
{#                    {%  set btnColor = "btn-" ~ subscribe.ctaButtonColor ?? "btn-gray" %}#}

{#                    <div class="text-xs-center text-sm-right text-lg-right cta-intro pt-md-3">#}
{#                        <span class="cta-subscribe-text pb-sm2 pb-md-0 d-md-inline d-lg-none">Stay up to date</span>#}
{#                        <span class="cta-subscribe-text d-none d-md-none d-lg-inline">{{ subscribe.ctaText }}</span>#}
{#                        <a class="ml-md-3 btn {{ btnColor }} " id="top-subscribe"#}
{#                           data-toggle="collapse" href="#collapseForm" role="button" aria-expanded="false" aria-controls="collapseForm">#}
{#                            <i class="fa fa-envelope"></i>#}
{#                            {{ subscribe.ctaButtonText }}</a>#}
{#                    </div>#}
{#                </div>#}

{#            </div>#}
{#        </div>#}

{#    </section>#}


{#    {% include '_includes/subscribe-section-top.twig' %}#}




{#    {% set entries = craft.entries()#}
{#    .section('news')#}
{#    .limit('10') %}#}

    {% set queryParams = {
        section: 'news',

        order: 'postDate desc',
        limit: '10'
    } %}


    {#{% set entries = craft.entries({#}
    {#sectionId:2#}
    {#orderBy:     "date",#}
    {#limit:     2#}
    {#}) %}#}

    {% paginate craft.entries(queryParams).limit(10) as pageInfo, pageEntries %}

    {% set first = pageEntries|slice(0,1) %}
    {% set therest = pageEntries|slice(1,9) %}

    {% if pageInfo.currentPage == 1 %}

        {% for entry in first %}


            {% switch entry.type %}
            {% case 'oldnews' %}
            {% set asset = entry.oldNewsImage.one() %}
            {% case 'news' %}
            {% set asset =  entry.image.one() %}
            {% endswitch %}



                <section class="news top-story gray">
                    <div class="container">
                        <div class=" row mt-5">
                            <div class="col-lg-12 text-center {{ entry.type }}">

                                <h2 class="section-title section-title-border ">News</h2>
                            </div>
                        </div>

                        <div class=" row">
                        {%  if asset %}
                            {% set newsImage = craft.imager.transformImage(asset,
                            [
                            { width: 320, position: asset.getFocalPoint(), jpegQuality: 65,ratio: 4/3, cropZoom:1.5 },
                            { width: 540, height:350,position: asset.getFocalPoint(), ratio: 2/1 ,jpegQuality: 90 },
                            { width: 720, height:375,position: asset.getFocalPoint(), ratio: 2/1 ,jpegQuality: 90 },
                            ],
                            {
                            format: 'jpg',
                            allowUpscale: true,
                            mode: 'crop',
                            jpegQuality: 90,
                            interlace: true
                            }
                            ) %}

                            


                            <div class="col pic mb-sm-3 pt-md-2">
                                <a href="{{ entry.url }}">
                                    <picture>
                                        <source media="(max-width: 320px)" sizes="100vw" srcset="{{ newsImage[0].url }}">
                                        <source media="(max-width: 540px)" sizes="100vw" srcset="{{ newsImage[1].url }}">
                                        <source media="(max-width: 992px)" sizes="100vw" srcset="{{ newsImage[2].url }}">
                                        <img class="img-fluid" src="{{ newsImage[1].url }}" alt="{{ asset.title }}">
                                    </picture>
                                </a>
                            </div>
                        {% endif %}
                            <div class="col pt-sm-2 pt-md-0">
                                <h1 class="pt-xs-2"><a href="{{ entry.url }}">{{ entry.title }}</a></h1>
                                <span class="date">{{ entry.postDate.format('F d, Y') }}</span>

                                {%  if entry.newsIntro |length > '0' %}
                                    <p>
                                        {{ entry.newsIntro }}
                                    </p>
                                    {%  else %}
                                        {%  if entry.body |length > '0' %}
                                            <p>{{ entry.body | striptags | wordLimit(40) }}</p>
                                            {% endif %}
                                {% endif %}

                                <a href="{{ entry.url }}" class="btn btn-outline">Read More &rarr;</a>
                            </div>

                        </div>

                    </div>
                </section>

        {% endfor %}

    {% endif %}

    {#{% include '_includes/subscribe-section.twig' %}#}

    <section class="newslist white pt-5">
        <div class="container">
            <div class="row ">
                {% set layout = "n" %}

                            {% for entry in therest %}


                                {% switch entry.type %}
                                {% case 'oldnews' %}
                                    {% set date = '<span class="date  d-inline-block mb-1">' ~ entry.postDate.format('F d, Y') ~ '</span>'  %}
                                    {% set asset = entry.oldNewsImage.one() %}
                                    {% set introText = entry.body | striptags | wordLimit(40)   %}

                                {% case 'news' %}
                                    {% set asset =  entry.image.one() %}
                                    {% set date = '<span class="date d-inline-block mb-1">' ~ entry.postDate.format('F d, Y') ~ '</span>'  %}
                                    {% set introText = entry.newsIntro  %}
                                    {# get promo block pdf image if exists EXPENSIVE!!! #}
                                        {% for block in entry.contentBlock.type('promotion').all() %}
                                            {% if block.entryToPromote |length  %}
                                                {#{% if loop.index == 1 %}#}

                                                {%  set asset = block.entryToPromote.one().pdfThumbnailImage[0] ?? null  %}


                                                {#{% endif %}#}
                                                {% else %}
                                                    {% set asset =  entry.image.one() %}
                                                {% endif %}
                                            {% endfor %}
                                {% endswitch %}

                                {#{% switch entry.type %}#}
                                {#{% case 'oldnews' %}#}
                                {#{% set asset = entry.oldNewsImage.one() %}#}
                                {#{% case 'news' %}#}
                                {#{% set asset =  entry.image.one() %}#}
                                {#{% endswitch %}#}



                                <!-- blog-item -->
                                <div class="col-lg-4 col-sm-6 mb-4">
                                    <div class="card">
                                        {% if asset | length %}

                                                {% set newsImage = craft.imager.transformImage(asset,
                                                    [
                                                        { width: 576, position: asset.getFocalPoint(), jpegQuality: 85,ratio: 4/3 },
                                                        { width: 550, height:350,position: asset.getFocalPoint(), ratio: 2/1 ,jpegQuality: 90 },
                                                        { width: 720, height:375,position: asset.getFocalPoint(), ratio: 2/1 ,jpegQuality: 90 },
                                                    ],
                                                    {
                                                        format: 'jpg',
                                                        allowUpscale: true,
                                                        mode: 'crop',
                                                        jpegQuality: 90,
                                                        interlace: true
                                                    }
                                                    ) %}

                                        <a href="{{entry.url}}">
                                        <div class="card-img-wrapper overlay-rounded-top">
                                           <picture>
                                                <source media="(max-width: 320px)" sizes="100vw" srcset="{{ newsImage[0].url }}">
                                                <source media="(max-width: 540px)" sizes="100vw" srcset="{{ newsImage[1].url }}">
                                                <source media="(max-width: 992px)" sizes="100vw" srcset="{{ newsImage[2].url }}">
                                               <img class="card-img-top" src="{{ newsImage[1].url }}" alt="{{ entry.title }}">
                                            </picture>
                                        </div>
                                        </a>
                                            {% else %}
                                                <div class="card-img-wrapper overlay-rounded-top">
                                                    <picture>
                                                        <img class="card-img-top" src="{{ nullImage }}" alt="{{ entry.title }}">
                                                    </picture>
                                                </div>
                                        {% endif %}
                                        <div class="card-body p-0">
                                            <div class="d-flex" data-mh="blog-height">
                                                <div class="py-3 px-4 border-right text-center">
                                                    <h3 class="text-primary mb-0">{{ entry.postDate.format('d') }}</h3>
                                                    <p class="mb-0">{{ entry.postDate.format('M') }}</p>
                                                </div>
                                                <div class="p-3">
                                                    <a href="{{entry.url}}" class="h4 font-primary text-dark">{{entry.title}}</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            {% endfor %}



            </div>
        </div>

    </section>

    <div class=" container">
        <div class="row ">
            <div class="col-md-12  text-sm-center">
                <ul class="pagination mb-5 justify-content-center">
                    <li class="page-item d-none d-sm-block">
                        <a class="page-link" href="{{ pageInfo.firstUrl }}">Start</a>
                    </li>

                    {% if pageInfo.prevUrl %}
                        <li class="page-item">
                            <a class="page-link" href="{{ pageInfo.prevUrl }}">Previous</a>
                        </li>
                    {% endif %}



                    {% for page, url in pageInfo.getPrevUrls(3) %}
                    <li class="page-item "><a class="page-link" href="{{ url }}">{{ page }}</a>
                        {% endfor %}

                    <li class="page-item "><a class="page-link">{{ pageInfo.currentPage }}</a></li>

                    {% for page, url in pageInfo.getNextUrls(3) %}
                    <li class="page-item "><a class="page-link" href="{{ url }}">{{ page }}</a>
                        {% endfor %}

                        {% if pageInfo.nextUrl %}
                    <li class="page-item "><a class="page-link" href="{{ pageInfo.nextUrl }}">Next</a></li>
                    {% endif %}

                    <li class="page-item d-none d-sm-block">
                        <a class="page-link" href="{{ pageInfo.lastUrl }}">End</a>
                    </li>
                </ul>

            </div>

        </div>
    </div>


{% endblock %}