{# -- Layout template for HTML pages -- #}
{#
 ┌─────────────────────────────────────────────────────────────────────────────┐
 │ ┌─────────────────────────────────────────────────────────────────────────┐ │
 │ │                                                                         │ │
 │ │                                                                         │ │
 │ │                                                                         │ │
 │ │                                 content                                 │ │
 │ └─────────────────────────────────────────────────────────────────────────┘ │
 │ ┌─────────────────────────────────────────────────────────────────────────┐ │
 │ │                                                                         │ │
 │ │                                                                         │ │
 │ │                                                                         │ │
 │ │                               subContent                                │ │
 │ └─────────────────────────────────────────────────────────────────────────┘ │
 │                                                                             │
 │                                  bodyHtml                                   │
 └─────────────────────────────────────────────────────────────────────────────┘
#}
{% extends "_boilerplate/_layouts/base-html-layout.twig" %}

{# -- Any <meta> tags that should be included in the <head> #}
{% block headMeta %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-158791076-1&ckcachebust=605038239"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-158791076-1');
    </script>

{% endblock headMeta %}

{# -- Any <link> tags that should be included in the <head> #}
{% block headLinks %}
    <link rel="apple-touch-icon" sizes="180x180" href="{{ baseUrl }}/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ baseUrl }}/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ baseUrl }}/favicons/favicon-16x16.png">
    <link rel="manifest" href="{{ baseUrl }}/favicons/site.webmanifest">
    <link rel="mask-icon" href="{{ baseUrl }}/favicons/safari-pinned-tab.svg" color="#d00e38">
    <link rel="shortcut icon" href="{{ baseUrl }}/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#603cba">
    <meta name="msapplication-config" content="{{ baseUrl }}/favicons/browserconfig.xml">
    <meta name="theme-color" content="#d00e38">

    <link href="{{ baseUrl }}assets/css/style.css" rel="stylesheet">

{% endblock headLinks %}

{# -- Any CSS that should be included before </head> -- #}
{% block headCss %}
    {% include "_inline-css/site-fonts.css" %}
{% endblock headCss %}

{# -- Page body -- #}
{% block bodyHtml %}


            {# -- Info header, including _navbar.twig -- #}
            {% include "_partials/info-header.twig" %}
<div class="">
                    {# -- Primary content block -- #}
                    {% block content %}

                    {% endblock %}
</div>

        {# -- Content that appears below the primary content block -- #}
<div class="container">
    {% block subcontent %}
        {% endblock %}
</div>

        {# -- Info footer -- #}
        {% include "_partials/info-footer.twig" %}

        {# -- HTML Footer -- #}
        {% include "_partials/global-footer.twig" %}

{% endblock bodyHtml %}
    {% block bodyJs %}
        <script  src="{{ baseUrl }}assets/js/dist-min.js"></script>
        <script  src="{{ baseUrl }}assets/js/script.js"></script>
    {% endblock bodyJs %}
