{% extends "_layouts/generic-page-layout.twig" %}
{% import '_macros' as macros %}
{% set bodyClass =  " supporters" %}

{% block content %}


    {# {% include '/_includes/featured_background.twig' %} #}



    <!-- Supporter Content -->
    {% if entry is defined %}


        {% set asset = entry.supporterLogo.one() ?? null %}
        <section class="gray mt-5 p-4">
            <div class="container">
                <div class="row">

                    <div class="col-12 col-sm-12 col-md-8 offset-2 pt-3">
                        <div class="media mb-5">
                            <div class="media-body">
                                <h1 class="mt-0">{{ entry.title }}</h1>

                                {% if entry.introText | length %}
                                    <div class="description">{{ entry.introText |raw }}</div>
                                    {% if entry.websiteUrl | length %}
                                    <a href="{{ entry.websiteUrl }}">Visit gamely <i class="fa fa-external-link"></i> </a>{% endif %}
                                {% endif %}
                            </div>
                            {% if asset %}
                                {% if entry.websiteUrl | length %}<a href="{{ entry.websiteUrl }}">{% endif %}
                                <img class="rounded-image mr-3" src="{{ asset.getUrl('supporterLogo') }}"
                                     alt="logo for {{ entry.title }}">
                            {% if entry.websiteUrl | length %}</a>{% endif %}
                            {% else %}
                                <img class="mr-3" src="https://placehold.it/200x200" alt="Generic placeholder image">
                            {% endif %}

                        </div>

                        <div class="bg-whit rounded mb-40">

                            {% set lazyImage = false %}
                            {% set blockPrefix = "" %}
                            {% for block in entry.contentBlock.all() %}
                                {% include ('pages/_partials/_' ~ blockPrefix ~ 'block_' ~ block.type.handle) %}
                                {% if block.type.handle == "image" %}
                                    {% set lazyImage = true %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <section class="">
            <div class="container-fluid  bg-light">
                <div class="container">
                    <div class="row ">


                        <div class="col-lg-12 mt-5">
                            <h3><a href="{{ baseUrl }}about-us/our-supporters">Our supporters</a></h3>
                        </div>


                        <div class="col-sm-12 pb-5">
                            <div class="row">

                                {% set entries = craft.entries({
                                    section: 'supportersFunders',
                                    with: ['supporterLogo'],
                                    id: 'not ' ~ entry.id,
                                    orderBy: 'title'
                                }) %}

                                {% for sentry in entries.all() %}

                                    {% set asset = sentry.supporterLogo ?? null %}

                                    {# start card layout #}
                                    <div class="col-lg-3 col-sm-6 sponsor-item p-3">
                                        <div class="card d-table-cell align-middle text-center">

                                            <a href="{{ sentry.url }}">
                                                {% if asset |length %}


                                                    <img class="img-fluid" src="{{ asset[0].getUrl('supporterLogo') }}"

                                                         alt="{{ sentry.title }}">
                                                {% else %}
                                                    <img class="card-img-top" src="https://picsum.photos/150/100"
                                                         alt="">
                                                {% endif %}
                                            </a>

                                        </div>
                                    </div>

                                    {# end card layout #}
                                {% endfor %}
                            </div>
                        </div>


                    </div>
                </div>
            </div><!-- /.container -->
        </section>

    {% endif %}
{% endblock %}
