{% if block.customLink |length %}

    <div class=" promo">
        <div class="row p-3">
            {% if block.boxHeading |length %}
                <div class="col-12 promo-header mb-4">
                    {{ block.boxHeading }}
                </div>
            {% endif %}

            <div class="col-md-12 text-md-left text-center">

                {% if block.customText | length %}
                    <p class="lead text-center">{{ block.customText }}</p>
                {% endif %}

                {% if block.customLink |length %}
                    <p class="text-center">
                        <a href="{{ block.customLink  }}" class="btn btn-primary">
                            {{ block.customLinkTitle }}
                        </a>
                    </p>
                {% endif %}

            </div>
        </div>


    </div>
{% elseif block.entryToPromote |length %}

    {%  set entry = block.entryToPromote.one() %}

    {% set pdfImage = entry.pdfThumbnailImage[0] ?? null %}

    {%  set pdfDocument = entry.pdfDocument.one() ?? null %}


    <div class=" promo wha mb-4 mt-1 rounded">
        <div class="container">
        <div class="row p-3">

            {% if block.boxHeading |length %}
                <div class="hide col-12 promo-header mb-4">
                    <h4>{{ block.boxHeading }}</h4>
                </div>
            {% endif %}
            {%  if pdfImage |length %}
                <div class=" text-md-left col-lg-5 text-center">
                        <img class="align-self-start mb-4" src="{{ pdfImage.getUrl('sponsorLogo') }}" alt="">
                </div>
                <div class="text-md-left col-lg-7 text-center">
                    {% if entry.customText | length %}
                        <p class="lead">{{ entry.customText }}</p>
                    {% endif %}
                    {% if pdfDocument |length %}
                        <p>
                            <a target="_blank" href="{{ pdfDocument.url }}" class="btn btn-primary"><i class="fa fa-arrow-circle-down"></i> Download</a>
                        </p>
                    {% else %}
                        {% if entry.title | length %}
                            <p class="float-right">
                                <a target="_blank" href="{{ entry.url }}" class="btn btn-outline">
                                    {{ entry.title }}</a>
                            </p>
                        {% endif %}
                    {% endif %}
                </div>
                {% else %}
                    <div class="text-md-left col-lg-8 text-center">
                        {% if block.boxHeading |length %}
                            <h4>{{ block.boxHeading }}</h4>
                        {% endif %}
                        {% if block.customText | length %}
                            <p class="lead">{{ block.customText }}</p>
                        {% endif %}

                    </div>
                    {% if entry.title | length %}
                        <div class="col-lg-4 mt-auto text-right">

                            <a target="_blank" href="{{ entry.url }}" class="btn btn-primary text-white">
                                {{ entry.title }}</a>
                        </div>

                    {% endif %}

            {% endif %}

        </div>
        </div>


    </div>
{% endif %}